<footer>
  {% if page.altfooter %}
  <!-- {% include altmember.html %} -->
  {% else %}
  <!-- {% include member.html %} -->
  {% endif %}
  <section class="footer-wrapper">
    {% include social.html %}
    <nav class="bot-nav" role="navigation" aria-label="secondary navigation">
      <ul>
        <li><a href="/">HOME</a></li>
        <li><a href="/Web-Security-Testing-Guide/">/Web-Security-Testing-Guide/</a></li>
        
      </ul>
    </nav>
    <p class="disclaimer">
    A fork of OWASP's Guide
    </p>
  </section>
</footer>
